*.suo
.vs/Algorithms/v15/Browse.VC.db
*.opendb
.vs/Algorithms/v15/ipch/ALGORITHMS-308ee129/ALGORITHMS-a004e404.ipch
*.ipch
.vs/Algorithms/v15/Solution.VC.db
*.db-shm
*.db-wal
Algorithms/.vs/Algorithms/v15/Browse.VC.db
*.log
Algorithms/Debug/Algorithms.idb
*.pch
Algorithms/Debug/Algorithms.pdb
*.lastbuildstate
Algorithms/Debug/Algorithms.tlog/CL.command.1.tlog
*.tlog
Algorithms/Debug/stdafx.obj
*.obj
*.idb
*.pdb
*.lib
*.dll
*.exp
Debug/AlgorithmsTests.ilk